<nav class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">Ian's Awesome</a>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
  </div>
</nav>



  <div class="alert alert-success" role="alert">THIS IS A HUGE SUCCESS</div>
  <div class="page-header">
    <h1>Such a sweet header<small></small></h1>
  </div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation" ><a href="#">Profile</a></li>
    <li role="presentation" ><a href="#">Messages</a></li>
  </ul>

  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>

  <div class="jumbotron">
    <h1>Super Nice</h1>
    <p>this is the nicest page ever!</p>
    <p><a class="btn btn-primary btn-lg" href="https://www.facebook.com/ian.p.brennan.9" role="button">Playboi</a></p>
  </div>

  <div class="panel panel-primary">THIS IS A PANEL</div>

  <div class="well">Nice Well, Well Whiskey</div>

  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/OTRmyXX6ipU" ></iframe>
  </div>
<br></br>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>

    <!-- Table -->
    <table class="table table-bordered table-striped">
      <tr>
        <th>Cool</th>
        <th>Cooler</th>
        <th>Coolest</th>
      <tr>
        <td>cool</td>
        <td>cool</td>
        <td>cool</td>
      </tr>

      <tr>
        <td>cool</td>
        <td>cool</td>
        <td>cool</td>
      </tr>



    </table>
  </div>
